@import '../styles/_theme.scss';

ServicesModal
{
	font-family: $font-default;

	.window
	{
		z-index: 1000;
		width: 580px;
		flex-direction: column;
		border-radius: $rounding-large;
		gap: 16px;
		padding: 16px;
		pointer-events: all;
		background: linear-gradient( to bottom, $default-900, $default-950 );
		box-shadow: 2px 2px 20px #0005;
	}

	.header
	{
		flex-direction: row;
		align-items: center;
		gap: 8px;

		.heading
		{
			font-size: $text-large;
		}
	}

	.description
	{
		margin: 1rem;
		opacity: 0.4;
		color: $default-200;
		font-size: $text-medium;
		text-align: justify;
	}

	.body
	{
		flex-direction: column;
		gap: 8px;
	}

	.loading
	{
		padding: 24px;
		justify-content: center;
		color: $default-200;
	}

	.service
	{
		flex-direction: row;
		align-items: center;
		gap: 12px;
		padding: 12px;
		border-radius: $rounding-default;
		background-color: $default-950;
		border: 1px solid transparent;
		transition: all 0.1s ease;

		.badge
		{
			flex-direction: row;
			flex-shrink: 0;
			width: 40px;
			height: 40px;
			border-radius: $rounding-default;
			align-items: center;
			justify-content: center;

			icon
			{
				font-size: 24px;
				color: white;
			}
		}

		.info
		{
			flex-direction: column;
			flex-grow: 1;
			gap: 2px;

			.name
			{
				font-size: $text-medium;
				font-family: $font-heading;
				font-weight: 600;
			}

			.status
			{
				font-size: $text-small;
				color: $default-300;

				&.connected
				{
					color: $primary-green;
				}
			}
		}

		.connected
		{
			flex-direction: row;
			align-items: center;
			gap: 8px;

			.avatar
			{
				width: 32px;
				height: 32px;
				border-radius: 50%;
			}

			.tick
			{
				font-size: 22px;
				color: $primary-green;
			}
		}
	}
}
