@import "/styles/_theme.scss";

ChatPanel
{
	flex-direction: column;
	font-size: $text-medium;
	font-family: $font-default;
	font-weight: 600;
	gap: 10px;

	.channel-label
	{
		font-size: $text-small;
		font-weight: 700;
		text-transform: uppercase;
		padding: 4px 10px;
		border-radius: $rounding-small;
		flex-shrink: 0;
		letter-spacing: 0.5px;
		background-color: #383850;
		color: $default-200;
		opacity: 1;
		box-shadow: 1px 1px 3px rgba( black, 0.25 );
	}

	.messages
	{
		flex-grow: 1;
		flex-direction: column;
		justify-content: flex-end;
		align-items: stretch;
		overflow-y: scroll;
		overflow-x: hidden;
		max-height: 400px;
		gap: 5px;

		&:empty
		{
			display: none;
		}

		.chat-entry
		{
			padding: 4px 10px;
			gap: 8px;
			border-radius: $rounding-large;
			align-items: flex-start;
			flex-shrink: 0;
			transition: opacity 0.3s $easing;
			opacity: 1;

			&:hover
			{
				cursor: pointer;
				background-color: rgba( white, 0.05 );
			}

			&.faded
			{
				opacity: 0;
			}

			&.system
			{
				opacity: 0.7;

				&.faded
				{
					opacity: 0;
				}

				.name
				{
					color: $default-300;
					font-weight: 900;
				}

				.text
				{
					color: $default-100;
					font-weight: 600;
				}
			}

			.channel-label
			{
				margin-top: 3px;
			}

			.avatar
			{
				width: 24px;
				height: 24px;
				min-width: 24px;
				min-height: 24px;
				background-position: center;
				background-size: cover;
				border-radius: 100%;
				box-shadow: 2px 2px 3px rgba( black, 0.65 );
				flex-shrink: 0;
			}

			.name
			{
				color: #0094ff;
				font-family: $font-heading;
				font-weight: 800;
				font-size: 18px;
				white-space: nowrap;
				flex-shrink: 0;
				text-shadow: 1px 1px 0px rgba( black, 0.75 );
			}

			.text
			{
				font-weight: 500;
				font-size: $text-medium;
				color: $default-text;
				white-space: normal;
				text-shadow: 1px 1px 0px rgba( black, 0.75 );
				margin-top: 3px;
				min-width: 0;
				flex-shrink: 1;
			}
		}
	}

	.input-bar
	{
		color: $default-text;
		align-items: center;
		gap: 8px;

		.textentry
		{
			flex-grow: 1;
			background-color: $default-900;
			color: $default-text;
			padding: 8px 12px;
			border-radius: $rounding-large;
			border: 1px solid $default-border;
			font-size: $text-medium;
			font-weight: 500;
		}
	}
}
