@import "/styles/_theme.scss";

$header-height: 60px;
$right-panel-width: 300px;

.megacard
{
    width: 1300px;
    max-width: 1300px;
    height: 78%;
    font-family: $font-default;
}

.megacard > .body-outer
{
    flex-grow: 1;
    flex-direction: column;
}

.megacard > .body-outer > .tabs
{
    flex-shrink: 0;
    height: $header-height;
    align-items: flex-end;
    padding-left: 20px;
    z-index: 10;
}

.megacard > .body-outer > .tabs > .metrics
{
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 4px;
    pointer-events: all;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.megacard > .body-outer > .body
{
    flex-grow: 1;
    flex-direction: column;
    background-color: $default-900;
    border: 1px solid $default-border;
    border-radius: $rounding-large * 2;
    box-shadow: 0px 0px 120px 60px rgba( $default-950, 0.8 );
    pointer-events: all;
}

.megacard > .body-outer > .body > .row
{
    flex-grow: 1;
    overflow: hidden;
}

// Main content area — LEFT
.megacard > .body-outer > .body > .row > .content
{
    flex-grow: 1;
    flex-shrink: 1;
    background-color: $default-950;
    margin: 2px 0px 0px 2px;
    border-radius: $rounding-large 0px 0px 0px;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    font-size: $text-regular;
    pointer-events: all;
}

// Info panel — RIGHT
.megacard > .body-outer > .body > .row > .left
{
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: $right-panel-width;
    margin: 2px 2px 0px 0px;
    border-radius: 0px $rounding-large 0px 0px;
    overflow: hidden;
    background-color: $default-900;
}

.megacard > .body-outer > .body > .row > .left > label.eyebrow
{
    padding: 12px 12px 4px 12px;
}

.megacard > .body-outer > .body > .footer
{
    flex-shrink: 0;
    background-color: $default-900;
    margin: 0px 2px 2px 2px;
    border-radius: 0px 0px $rounding-large $rounding-large;
    padding: 16px 20px;
    border-top: 1px solid $default-border;
}
