@import "/styles/_theme.scss";

SearchlightTab
{
    color: $default-300;
    font-size: $text-regular;
    font-weight: 700;
    font-family: $font-heading;
    align-items: center;
    padding: 0px 14px 12px 14px;
    border-bottom: 2px solid transparent;
    pointer-events: all;
    cursor: pointer;
    transition: color 0.15s ease;

    i { display: none; }
}

SearchlightTab:hover
{
    color: $default-text;
    sound-in: "ui.button.over";
}

.active SearchlightTab
{
    color: $default-text;
    border-bottom: 2px solid $primary-blue;
    cursor: auto;
}
